circle {
        fill: orange;
        stroke: black;
        stroke-width: 0.7;
        opacity: 0.7;
}

h2 {
        text-align: center;
        color: black;
}

div.years-buttons {
        position: fixed;
        top: 5px;
        left: 50px;
}

div.years-buttons div {
        background-color: rgb(251, 201, 127);
        padding: 3px;
        margin: 7px;
}

.clicked{
  fill: lightBlue;
}

.not-clicked {
  fill: lightGrey;
}

.legend {
  position: absolute;
  top: 0px;
  right: 20px;
}

.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.investors { background: #399262;}
.lenders { background: #926239;}
.both { background: #396992;}

.ToDo {
  position: absolute;
  bottom: 0px;
  left: 20px;
}